.gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  max-width: 360px;
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.07);
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.sl-overlay {
  background-color: rgba(46, 47, 66, 0.8) !important;
}

.sl-wrapper .sl-navigation button {
  color: #fff !important;
}

.sl-wrapper .sl-close {
  color: #fff !important;
}

.sl-wrapper .sl-counter {
  color: #fff !important;
}

.sl-wrapper .sl-close:hover {
  color: #d4d1b1 !important;
}
